/* Addcss.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: transparent;
  }
  
  .form {
    width: 100%;
    max-width: 400px;
    background-color: rgb(255, 217, 171);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    margin-bottom: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color:rgb(154, 85, 0);
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(255, 143, 7);
  }
  
  .successMessage {
    margin-top: 20px;
    color:rgb(154, 85, 0);
  }
  
  .back {
    background-color: rgb(154, 85, 0);
    color: #333;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .back:hover {
    background-color: rgb(255, 143, 7);
  }
  

  